.block4Container{
    width:100%;
    padding:60px 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    box-sizing: border-box;
    flex:0.7
}

.headingContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    flex-direction: column;
    width:50%
}

.heading{
    color:#2F327D;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin:0
}

p > span{
    color:#00CBB8;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.subHeading{
    color:black;
    font-size: 20px;
    text-align: center;
    font-weight: 200;
}

.textImageContainer{
    padding:40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:80%
}

.textContainer{
    display: flex;
    flex:0.5;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageContainer{
    width:80%;
    display: flex;
    flex:1;
    justify-content: flex-end;
    align-items: center;
}


