.appBarContainer{
    display:flex;
    width: 100%;
    height:80px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    background-color: transparent;
}

.navLinks{
    display:flex;
    flex:1;
    justify-content: row;
    align-items: center;
    transition: transform 0.3s ease; 
}

.navLinkButton{
    padding:0 20px;
    color:white;
    font-size: 20px;
    transition: transform 0.3s ease; 
}

.navLinkButton:hover{
    transform: scale(1.1);
}

.navLinkText{
    color:white;
    font-size: 22;
}

.button{
    background-color: white;
}

.registerButtonStyle{
    color:black
}