.formContainer{
    display: flex;
    flex:1;
    width:100%;
    height:100%;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding:50px 0px;
}

.inputStyle{
    width:100%;
    height:fit-content;
    margin-top: 30px;
}

.header{
    color:black;
    margin:0;
    padding:0px;
    font-size: 16;
}

.buttonContainer{
    display: flex;
    width:100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.buttonStyle{
    border-radius: 20px;
    width:30%
}

.buttonTextStyle{
    color:white;
    font-size: 16;
}
