.block1Container{
    display:flex;
    padding:30px 60px 30px 60px;
    box-sizing: border-box;
    overflow: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.landing1ContentStyle{
    display:flex;
    height: 80%;
    /* flex:0.5;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; */
}

.contentContainer{
    /* flex:0.4; */
    display: flex;
    /* width: 100%;
    height:100%; */
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    flex-direction: column;
}

.contentContainer p strong{
    color:#F48C06;
    font-size:54px
}

.sloganText{
    font-size:54px;
    color:white;
    margin: 0 0;
}

.text1Container{
    width:70%;
    justify-content: center;
    align-items: center;
}

.text1Style{
    font-size: 24px;
    color:white;
}

.allImagesContainer{
    position: relative;
}

.imageContainer {
    flex:1;
    object-fit: cover;
}

.rectangle1Container{
    position: absolute;
    /* width: 300px; */
    height: 80px;
    top:200px;
    left:0px;
    object-fit: fill;
    z-index: 3;
    transition: transform 0.3s ease; 
}

.rectangle2Container{
    position: absolute;
    width: 380px;
    height: 100px;
    top:500px;
    right:20px;
    object-fit: fill;
    z-index: 3;
    transition: transform 0.3s ease; 
}

.rectangle3Container{
    position: absolute;
    width: 380px;
    height: 100px;
    top:700px;
    left:0px;
    object-fit: fill;
    z-index: 3;
    transition: transform 0.3s ease; 
}

.rectangle4Container{
    position: absolute;
    width: 80px;
    height: 80px;
    top:150px;
    right:40px;
    object-fit: fill;
    z-index: 3;
    transition: transform 0.3s ease; 
}

.rectangle1Container img{
    width:100%;
    height: 100%;
}


.rectangle1Container:hover,
.rectangle2Container:hover,
.rectangle3Container:hover,
.rectangle4Container:hover{
    transform: scale(1.1);
}