.footerContainer{
    width:100%;
    height:400px;
    background-color: #2F327D;
    padding:40px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.block1{
    width:30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    padding-bottom: 30px;
}

.logoContainer{
    border-right: 2px solid #626381;
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.sloganContainer{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sloganText{
    font-size: 26px;
    color:white;
    font-weight: 300;
}

.block2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    flex-direction: column;
}

.block2_inner1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%
}   
.block2_inner2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    text-align: center;
    padding:10px 0
}  

#borderBox{
    border-right: 2px solid #626381;
}