.block2Container{
    width:100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:40px;
    box-sizing: border-box;
    flex-direction: column;
}

.headingContainer{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: black;
}

.subHeading{
    font-size: 14px;
    margin: 0;
    color: black;
    text-align: center;
}

.numberContainer{
    display:flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding:20px 0
}

.textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gradientText{
    font-size: 72px;
    background: -webkit-linear-gradient(#49BBBD, #5B72EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subText{
    color:black;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
}